<div class="education-main">
    <div class="basic-education">
        <div class="education-heading-div">

            <div class="education-heading-img-div" animateOnScroll="fadeInRight">
                <img [src]="assetPaths.EDUCATION_COVER" alt="Projects & Freelancing">
            </div>

<!--            [attr.data-aos-delay]=DURATION_ENTER_ANIMATION-->
            <div class="education-heading-text-div" animateOnScroll="fadeInLeft">
                <h1 class="education-heading-text">
                    {{ appConfig.educationPageTitle | translate}}
                </h1>
                <p class="education-header-detail-text subTitle">
                    {{ appConfig.educationPageDescription | translate}}
                </p>
            </div>
        </div>
    </div>

<!--    [attr.data-aos-delay]=DURATION_ENTER_ANIMATION*2-->
    <div class="section-heading-text-div" animateOnScroll="fadeInTop">
        <h1 class="section-heading-text">
            {{ "ACADEMIC_BACKGROUND" | translate}}
        </h1>
    </div>

        <div class="education-cards-div-main divide-y-2 divide-blue-400">

            @for (edu of appConfig.educationSections; track $index) {
                <app-education-card [education]="edu" class="w-full"></app-education-card>
            }

        </div>
</div>
