@import "../../../css/variables.scss";

.main {
    width: 90%;
    margin: 0px auto;
}

.greet-main {
    margin: 4rem 0;
}

.gretting-main {
    margin: 0px auto;
}

.greeting-main {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.greeting-main>* {
    flex: 1;
    margin-bottom: 30px;
}

.button-greeting-div {
    display: flex;
    margin-top: 20px;
}

.greeting-text {
    color: $theme-blue;
    //margin-top: 80px;
    margin-top: 10px;
    font-size: 70px;
    line-height: 1.1;
    font-family: "Google Sans Bold";
}

.greeting-nickname {
    color: $text-violet;
    font-size: 30px;
    font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
    color: $theme-secondary;
    font-size: 40px;
    line-height: 50px;
    margin-right: 40px;
    font-family: "Google Sans Medium";
}

.greeting-image-div {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* Media Query */
@media (max-width: 1380px) {
    .greeting-text {
        font-size: 50px;
    }

    .greeting-text-p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .greet-main {
        margin-top: 4rem;
    }

    .button-greeting-div {
        justify-content: space-around;
    }

    .greeting-text {
        font-size: 30px;
        margin-top: 0px;
        text-align: center;
    }

    .greeting-nickname {
        font-size: 25px;
        text-align: center;
    }

    .greeting-text-p {
        font-size: 16px;
        margin-right: 0px;
        line-height: normal;
        text-align: center;
    }

    .greeting-main {
        display: block;
    }

    .portfolio-repo-btn-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/**
  * FORZO il preload dei font
 */

#font-preloader {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.font-agustina {
    font-family: "Agustina Regular", sans-serif;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-google-sans-bold {
    font-family: "Google Sans Bold", sans-serif;
}

.font-google-sans-bold-italic {
    font-family: "Google Sans Bold Italic", sans-serif;
}

.font-google-sans-italic {
    font-family: "Google Sans Italic", sans-serif;
}

.font-google-sans-medium {
    font-family: "Google Sans Medium", sans-serif;
}

.font-google-sans-medium-italic {
    font-family: "Google Sans Medium Italic", sans-serif;
}

.font-google-sans-regular {
    font-family: "Google Sans Regular", sans-serif;
}

#image-preloader {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

/**
  * FORZO il preload dei font
 */
.preload-img {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.wave-emoji {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(12deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
