@import "../../../css/variables.scss";

.projects-card-container {
    transition: all 200ms;

    .projects-card-image {
        overflow: hidden;
        position: relative;

        img {
            transition: all 200ms;
            height: 400px;
            cursor: pointer;
            display: block;
            width: 100%;
            background: #232433;

            &:hover {
                transform: scale(1.2);
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 20%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
            pointer-events: none;
        }
    }

    &:hover, &.selected {
        box-shadow: 0px 0px 20px 4px #c2ebff;

        p.description-text {
            -webkit-line-clamp: none;
            line-clamp: none;
            height: 205px;
            overflow-y: auto;

            @media (max-width: 768px) {
                height: 265px;
            }
        }
    }

    p.description-text {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
        text-overflow: ellipsis;
        //height: fit-content;

        height: 120px;
        transition: height 0.3s ease; /* Transizione per l'altezza */

        /* hide scrollbar for firefox */
        scrollbar-width: none;

        /* hide scroll bar for chrome and opera */
        ::-webkit-scrollbar {
            display: none;
            width: 0;
        }
    }
}

.confidential{
    padding: 3px 6px 5px 3px;
    border-radius: 10px;
    background: $dark-background;
    color: $theme-blue;
    position: absolute;
}
